version: 2
jobs:
  build:
    executor:
      name: node/default
      tag: '10.4'
    working_directory: ~/repo
    branches:
      only:
        - master

    steps:
      - checkout
      - run: sudo apt-get update -y && apt-get install -y kubectl
      - run: yarn install
      - run: yarn run gulp build 
orbs:
  node: circleci/node@1.1

